.ico-star svg {
  width: 20px;
  height: 19px;
}

.ico-star .active {
  fill: $color-star-background;
}

// .book-list .book__star {
//   margin-bottom: 0px;

//   @include media-tablet {
//     margin-bottom: 16px;
//   }
// }

.book-list .ico-star svg {
  @include media-mobile {
    width: 14px;
    height: 13px;
  }
}

.book-page .ico-star svg {
  display: inline-block;

  width: 20px;
  height: 19px;

  @include media-mobile {
    width: 28px;
    height: 27px;
  }
}

.review__stars .ico-star svg {
  display: inline-block;
  width: 20px;
  height: 19px;
}
