.ico-star svg {
  width: 24px;
  height: 24px;
}

.ico-star .active {
  fill: $color-star-background;
}

.book-list .ico-star svg {
  @include media-mobile {
    width: 16px;
    height: 16px;
  }
}

.book-page .ico-star {
  width: 24px;
  height: 24px;

  @include media-mobile {
    width: 34px;
    height: 34px;
  }
}

.book-page .ico-star svg {
  display: inline-block;

  width: 24px;
  height: 24px;

  @include media-mobile {
    width: 34px;
    height: 34px;
  }
}

.review__stars .ico-star svg {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.book-list .ico-star svg {
  @include media-mobile {
    width: 16px;
    height: 16px;
  }
}
