@use '../../style/abstract/constants' as constants;
@use '../../style/abstract/mixin' as mixin;

.wrapper {
  max-width: constants.$content-width;
  margin: 0 auto;
  padding-left: 165px;
  padding-right: 165px;

  @include mixin.media-laptop {
    padding-left: calc(16px + (165 - 16) * ((100vw - 320px) / (1440 - 320)));
    padding-right: calc(16px + (165 - 16) * ((100vw - 320px) / (1440 - 320)));
  }

  @include mixin.media-tablet {
    padding-left: calc(16px + (65 - 16) * ((100vw - 320px) / (768 - 320)));
    padding-right: calc(16px + (65 - 16) * ((100vw - 320px) / (768 - 320)));
  }
}
