@use '../../../style/abstract/mixin' as mixin;
@use '../../../style/abstract/constants' as constants;

.empty-category {
  padding-top: 200px;

  text-align: center;
  color: constants.$color-empty-category-text;

  @include mixin.font($size: 2rem, $height: 125%, $weight: 700, $letter: 0.1px);

  @include mixin.media-mobile {
    @include mixin.font($size: 1.125rem, $height: 156%, $weight: 700, $letter: 0.1px);
  }
}
