@use '../../../style/abstract/mixin' as mixin;

.menu-burger {
  display: flex;
  flex-direction: column;
}

.menu {
  padding: 32px 0px 10px 32px;

  @include mixin.media-mobile {
    padding: 32px 16px 0px 16px;
  }
}
