@forward '../../../style/style.scss';
@use '../../../style/abstract/constants' as constants;
@use '../../../style/abstract/mixin' as mixin;

.menu {
  width: inherit;
  color: constants.$color-text-primary;
  @include mixin.font($size: 1rem, $height: 1.5, $letter: 0.1px);
}

.menu__tab {
  max-width: 265px;
}

.tab__item {
  padding-right: 10px;
  padding-bottom: 36px;

  @include mixin.media-mobile {
    padding-bottom: 32px;
  }
}

.tab-menu__list {
  padding-left: 24px;
}

.tab-menu-collapsible {
  display: none;
}

.tab-menu__item {
  padding-top: 16px;
  word-wrap: break-word;
}
.tab-menu__button {
  padding-right: 37px;

  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @include mixin.media-mobile {
    padding-right: 24px;
  }
}

.tab-menu__button[aria-expanded='true'] {
  @extend %linear-gradient-link-active;
}

.tab-menu__link + .tab__arrow .arrow__svg {
  fill: constants.$color-text-primary;
}

.tab-menu__button[aria-expanded='true'] + .link-title-border {
  @extend %linear-gradient-border;
}

.tab-menu__title {
  padding-right: 16px;

  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  cursor: pointer;

  @include mixin.media-mobile {
    padding-right: 8px;
  }
}

.tab-menu__title[aria-expanded='false'] .arrow {
  transform: rotate(180deg);
}

.tab-menu__link {
  transition: all 0.3s;
}

.tab-menu__link:hover {
  color: constants.$color-menu-link-hover;
}

.tab-menu__link-active {
  color: unset;
  font-weight: 700;
  @extend %linear-gradient-link-active;
  margin-left: -4px;
}

.tab-menu__link-title-active {
  @extend %linear-gradient-link-active;
}

.tab-menu__button[aria-expanded='false'].arrow {
  transform: rotate(180deg);
}

.tab-menu__link + .tab-menu__button .arrow__svg {
  fill: constants.$color-text-primary;
}

.link-title-border {
  margin-top: 8px;
  width: 255px;
  height: 2px;
}

.tab__item:has(.tab-menu__link-title-active) .link-title-border {
  @extend %linear-gradient-border;
}

.tab-item-quantity {
  padding-left: 6px;
  color: constants.$color-tab-item-quantity;
  font-size: 0.875rem;
  line-height: 1.71;
}
