.navigation {
  color: $color-navigation-text;
}

.navigation-search-container {
  flex: 0 1 62.5%;
  column-gap: 16px;
  @include media-tablet {
    flex: 0 1 68.75%;
  }
  @include media-mobile {
    flex: 0 1 11.15%;
  }
}

.navigation__input-search {
  padding-left: 8px;
  padding-right: 16px;

  max-width: 350px;
  width: 100%;

  display: flex;
  align-items: center;
  column-gap: 8px;

  @extend %box-shadow-button-navigation;
  border-radius: 599px;

  @include media-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    padding-right: 0;

    width: 32px;
    height: 32px;
    max-width: 100%;
  }
}

.button-input-search {
  width: 32px;

  height: 32px;
  border-radius: 599px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.input__svg {
  width: 16px;
  height: 16px;
}

.navigation__input-search:focus-within .icon-button-search {
  fill: $color-input-search-cursor;
}

.input {
  width: 100%;
  border: none;
  color: $color-input-search-cursor;
  @include media-mobile {
    position: absolute;
    width: 0px;
  }
}

.input::-webkit-search-decoration,
.input::-webkit-search-cancel-button,
.input::-webkit-search-results-button,
.input::-webkit-search-results-decoration {
  display: none;
}

.button-search-close {
  display: none;
}

.input::placeholder {
  color: $color-navigation-text;
  @include font($size: 0.875rem, $height: 1.2857, $letter: 0.1px);

  @include media-mobile {
    @include font($size: 0.75rem, $height: 150%);
  }
}

.input:focus {
  outline: none;
  // caret-color: $color-input-search-cursor;
}

.navigation__button {
  width: 9.375rem;
  height: 2.375rem;
  @include media-mobile {
    width: 2rem;
    height: 2rem;
  }
}

.button-filter {
  padding-left: 16px;
  padding-right: 16px;

  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  column-gap: 8px;

  color: inherit;
  background-color: $color-navigation-background;
  border-color: transparent;
  @extend %box-shadow-button-navigation;
  border-radius: 599px;
  white-space: nowrap;
  @include media-mobile {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.button-filter span {
  @include media-mobile {
    display: none;
  }
}
.navigation-view {
  flex: 0 1 11.15%;
  column-gap: 16px;
}

.navigation-view__button {
  width: 38px;
  height: 38px;
  @include media-mobile {
    width: 32px;
    height: 32px;
  }
}

.button-view {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  border-color: transparent;
  border-radius: 100%;

  color: $color-navigation-text;

  background: $color-navigation-background;

  filter: $color-button-filter;

  transition: 0.3s;
}

.button-view:hover {
  filter: $color-button-filter-hover;
}

.button-view:active {
  @extend %linear-gradient-button-background;
  filter: $color-button-filter-active;
}

.button-view.button-view-active {
  @extend %linear-gradient-button-background;
  filter: $color-button-filter-active;
}

.button-view:active svg,
.button-view.button-view-active {
  color: $color-svg-active;
}
