@forward '../../../style/abstract/placeholders.module.scss';
@use '../../../style/abstract/mixin' as mixin;
@use '../../../style/abstract/constants' as constants;

.button {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.button--book {
  color: constants.$color-button-book-text;
  text-transform: uppercase;

  border: 1px solid constants.$color-button-book-border;
  border-radius: 20px;

  @include mixin.font($size: 0.75rem, $height: 150%, $weight: 600, $letter: 0.2px);

  @extend %linear-gradient-button-background;

  @extend %transition;
}

.button--book-page:active,
.button--book:active,
.button-form,
.button-modal {
  @extend %linear-gradient-button-background-active;
}

.button--book-page {
  border: 1px solid constants.$color-button-book-border;
  border-radius: 30px;

  @include mixin.font($size: 1rem, $height: 150%, $weight: 600, $letter: 0.2px);
  text-transform: uppercase;

  @extend %linear-gradient-button-background;
  color: constants.$color-button-book-text;

  @extend %transition;

  @include mixin.media-mobile {
    @include mixin.font($size: 0.75rem, $height: 150%, $weight: 400);
  }
}

.button-review-collapsible[aria-expanded='false'] {
  transform: rotate(180deg);
}

.button-review-collapsible__svg {
  display: inline-block;

  width: 24px;
  height: 24px;

  background-size: 24px;
  background-position: center;
  background-image: url('../../image/ico/icon-button-review-collapsible.svg');
}

.button-form {
  border-radius: 30px;

  text-transform: uppercase;
  color: constants.$color-button-book-text;

  @extend %linear-gradient-button-background;

  @include mixin.font($size: 1rem, $height: 150%, $weight: 600, $letter: 0.2px);
  @include mixin.media-mobile {
    font-size: 0.75rem;
  }
}

.button-modal {
  border-radius: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  text-transform: uppercase;
  color: constants.$color-button-book-text;

  @extend %linear-gradient-button-background;

  @include mixin.font($size: 1rem, $height: 150%, $weight: 600, $letter: 0.2px);
  @include mixin.media-mobile {
    font-size: 0.75rem;
  }
}

.button-form:disabled {
  border-color: constants.$color-button-border-disabled;
  color: constants.$color-button-text-disabled;
  background: constants.$color-button-disabled;
}
