@forward '../../../../../style/style.scss';
@use '../../../../../style/abstract/constants' as constants;
@use '../../../../../style/abstract/mixin' as mixin;

.comments {
}

.title-rating {
  margin-bottom: 16px;
  text-align: center;
  color: constants.$color-modal-comments-text-title;
  @include mixin.font($size: 1rem, $height: 150%, $weight: 600, $letter: 0.1px);
}

.rating {
  display: flex;
  column-gap: 0.5rem;
}

.rating__star-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.rating__star-label {
  display: block;
}

.ico-star {
  display: inline-block;
}

.ico-star svg {
  width: 2.5rem;
  height: 2.5rem;
}

.ico-star .active {
  fill: constants.$color-star-background;
}
