@forward '../buttons/button.module.scss';
@use '../../../style/abstract/constants' as constants;
@use '../../../style/abstract/mixin' as mixin;

.modal {
  padding: 48px 95px;
  max-width: 37.5rem;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 16px;
  background-color: constants.$color-form-background;

  @include mixin.media-midle-tablet {
    padding-top: calc(42px + (48 - 42) * (100vw - 320px) / (650 - 320));
    padding-right: calc(16px + (95 - 16) * (100vw - 320px) / (650 - 320));
    padding-bottom: calc(32px + (48 - 32) * (100vw - 320px) / (650 - 320));
    padding-left: calc(16px + (95 - 16) * (100vw - 320px) / (650 - 320));
  }
}

.modal__title {
  margin-bottom: 32px;
  @include mixin.font($size: 1.5rem, $height: 125%, $weight: 700, $letter: 0.1px);
  @include mixin.media-mobile {
    font-size: 1.125rem;
    line-height: 156%;
  }
}

.modal__description {
  margin-bottom: 32px;
  text-align: center;
  @include mixin.font($size: 1rem, $height: 150%, $weight: 400, $letter: 0.1px);
  @include mixin.media-mobile {
    font-size: 0.9375rem;
    line-height: 133%;
  }
}

.modal__button {
  width: 100%;
  height: 3.25rem;

  @include mixin.media-mobile {
    height: 2.5rem;
  }
}
