/* cyrillic-ext */
@use '../abstract/constants' as constants;
@use '../abstract/mixin' as mixin;

body {
  height: 100%;
  justify-content: center;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: constants.$color-body-background;
  color: constants.$color-text-primary;

  font-family: 'Montserrat', sans-serif;
  @include mixin.font($size: 14px, $height: 18px, $weight: 400, $letter: 0.1px);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat';
  height: 100%;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article {
  margin: 0;
  padding: 0;
}

input,
button,
textarea,
select {
  padding: 0;
  font: inherit;
}

button {
  border: none;
  background-color: transparent;
}
