.book {
  display: block;
  padding: 8px 8px 16px 8px;

  width: 100%;
  height: 29.375rem;

  box-shadow: $box-shadow-book;
  border-radius: 10px;

  @include media-mobile {
    padding: 8px 16px 16px 16px;
  }
}

.book-list .book {
  display: block;
  padding: 24px 24px 24px 16px;

  height: 13.625rem;

  @include media-tablet {
    height: auto;
    padding: 16px 24px 16px 16px;
  }

  @include media-mobile {
    padding: 16px 16px 16px 8px;
  }
}

.book__container {
  position: relative;
  display: grid;

  height: 100%;

  grid-template-columns: auto;
  grid-template-areas: 'image' 'star' 'title' 'autor' 'button';

  @include media-mobile {
    grid-template-rows: auto auto auto 1fr 1fr;
  }
}

.book-list .book__container {
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  grid-template-rows: auto auto 1fr;
  column-gap: 16px;
  grid-template-areas:
    'image title title'
    'image autor autor'
    'image star button';

  @include media-mobile {
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto auto auto;
    column-gap: 8px;

    grid-template-areas:
      'image title '
      'image autor '
      'image star '
      'image button';
  }
}

.book__image {
  position: relative;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 19px;

  width: 174px;
  height: auto;

  grid-area: image;

  aspect-ratio: 172 / 240;

  background: $color-book-page-background;
  border: 1px solid $color-book-page-border;
  border-radius: 10px;

  overflow: hidden;

  @include media-mobile {
    margin-bottom: 16px;
  }
}

.book-list .book__image {
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;

  max-width: 120px;

  aspect-ratio: 118 / 170;
  border-radius: 3px;

  @include media-tablet {
    width: calc(70px + (120 - 70) * ((100vw - 320px) / (768 - 320)));
  }
}

.image-history {
  margin-left: 0;
}

.image-book {
  position: absolute;

  top: 50%;
  left: 50%;

  height: 100%;

  transform: translate(-50%, -50%);
}

.book__star {
  margin-bottom: 14px;

  height: 1.75rem;

  grid-area: star;

  display: flex;
  align-items: center;
  column-gap: 6px;

  @include media-tablet {
    margin-bottom: 21px;
  }

  @include media-mobile {
    margin-bottom: 12px;
  }
}

.book-list .book__star {
  margin-bottom: 0px;

  @include media-tablet {
    margin-bottom: 14px;
  }
}

.rating__no {
  @include font($size: 0.875rem, $height: 129%, $weight: 400, $letter: 0.1px);
  color: $color-no-rating-text-book;
  text-transform: lowercase;
}

.book__title {
  width: 10.9375rem;
  height: 3.375rem;

  grid-area: title;

  display: flex;
  align-items: center;

  @include media-tablet {
    margin-bottom: 17px;
    height: 2.25rem;
  }

  @include media-mobile {
    margin-bottom: 8px;
    width: 100%;
    height: auto;
    align-items: self-start;
  }
}

.book-list .book__title {
  display: block;

  width: 100%;
  height: auto;
  min-height: 3.375rem;

  @include media-tablet {
    margin-bottom: 0px;
  }

  @include media-mobile {
    margin-bottom: 3px;
    min-height: auto;
  }
}

.title-book {
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  -ms-line-clamp: 3;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  display: -webkit-box;
  display: box;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  box-orient: vertical;

  @include media-tablet {
    -ms-line-clamp: 2;
    -webkit-line-clamp: 2;
    line-clamp: 2;
  }

  @include media-mobile {
    -ms-line-clamp: 3;
    -webkit-line-clamp: 3;
    line-clamp: 3;

    @include font($size: 0.875rem, $height: 129%, $weight: 600, $letter: 0.1px);
  }
}

.book-list .title-book {
  margin-bottom: 8px;

  -ms-line-clamp: unset;
  -webkit-line-clamp: unset;
  line-clamp: unset;

  @include font($size: 1.5rem, $height: 125%, $weight: 700, $letter: 0.1px);

  @include media-tablet {
    margin-bottom: 16px;
  }

  @include media-mobile {
    margin-bottom: 0px;
    @include font($size: 0.875rem, $height: 129%, $weight: 600, $letter: 0.1px);
  }
}

.book__autor {
  margin-bottom: 19px;

  grid-area: autor;

  width: 10.9375rem;
  height: 2.25rem;

  display: flex;
  align-items: center;

  color: $color-text-secondary;

  @include media-tablet {
    margin-bottom: 28px;

    display: inline-block;

    height: 1.125rem;

    align-items: unset;

    text-transform: uppercase;
    @include font($size: 0.75rem, $height: 150%, $weight: 700);
  }

  @include media-mobile {
    margin-bottom: 0px;

    align-items: center;

    font-weight: 400;
    letter-spacing: 0.1px;
    text-transform: unset;
  }
}

.book-list .book__autor {
  margin-bottom: 8px;

  width: 100%;
  height: auto;

  display: flex;
  align-items: flex-start;

  color: $color-text-secondary;

  @include font($size: 1rem, $height: 150%, $weight: 400, $letter: 0.1px);

  @include media-tablet {
    display: block;
    height: 1.125rem;
    align-items: unset;
    text-transform: unset;
  }

  @include media-mobile {
    margin-bottom: 4px;
    height: auto;
    align-items: center;
    text-transform: unset;

    @include font($size: 0.75rem, $height: 150%, $weight: 400, $letter: 0.1px);
  }
}

.book-autor-text {
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  -ms-line-clamp: 2;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  display: -webkit-box;
  display: box;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  box-orient: vertical;

  @include media-tablet {
    -ms-line-clamp: 1;
    -webkit-line-clamp: 1;
    line-clamp: 1;
  }

  @include media-mobile {
    -ms-line-clamp: 2;
    -webkit-line-clamp: 2;
    line-clamp: 2;
  }
}

.book-list .book-autor-text {
  -ms-line-clamp: 1;
  -webkit-line-clamp: 1;
  line-clamp: 1;
}

.book__button {
  margin-left: auto;
  margin-right: auto;

  grid-area: button;

  width: 10.375rem;
  height: 2.5rem;

  @include media-tablet {
    align-self: flex-end;
  }

  @include media-mobile {
    width: 100%;
  }
}

.book-list .book__button {
  margin-left: auto;
  margin-right: 0;

  width: 10.875rem;

  align-self: center;

  @include media-mobile {
    width: 100%;
  }
}

.book-list .book__button:has(.button-delivery) {
  width: auto;
}
