.profil {
  display: flex;
  flex-direction: column;
  row-gap: 42px;

  padding: 32px 0px 52px 32px;

  border-top: 1px solid $color-menu-burger-border;

  @include media-mobile {
    padding: 32px 16px 52px 16px;
  }
}
