@use '../../../style/abstract/mixin' as mixin;
@use '../../../style/abstract/constants' as constants;

.profil {
  display: flex;
  flex-direction: column;
  row-gap: 42px;

  padding: 32px 0px 52px 32px;

  border-top: 1px solid constants.$color-menu-burger-border;

  @include mixin.media-mobile {
    padding: 32px 16px 52px 16px;
  }
}
