.review__content .book__star {
  margin-bottom: 0px;
}

.review__stars {
  margin-bottom: 19px;

  @include media-mobile {
    margin-bottom: 11px;
  }

  .book__star {
    @include media-mobile {
      column-gap: 8px;
    }
  }
}

.review__description {
  max-width: 730px;
  margin-bottom: 42px;

  @include font($size: 1rem, $height: 1.5, $weight: 400, $letter: 0.1px);
  color: $color-book-page-text-description;

  @include media-mobile {
    margin-bottom: 0px;
    @include font($size: 0.9375rem, $height: 133%, $weight: 400, $letter: 0.1px);
  }
}
