.book-page {
  padding-top: 42px;

  @include media-tablet {
    padding-top: 48px;
  }
  @include media-mobile {
    padding-top: 20px;
  }
}

.book-page-wrapper-content {
  margin-bottom: 42px;

  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    'image title'
    'image description';

  @include media-tablet {
    grid-template-areas:
      'image title'
      'description description';
  }

  @include media-mobile {
    margin-bottom: 16px;

    grid-template-columns: auto auto;
    column-gap: 0px;
    grid-template-areas:
      'image image'
      'title title'
      'description description';
  }
}

.book-page-image-wrapper {
  position: relative;

  margin-right: 30px;

  grid-area: image;

  @include media-laptop {
    width: calc(136px + (445 - 136) * ((100vw - 768px) / (1440 - 768)));
  }

  @include media-tablet {
    margin-right: 32px;
    width: 136px;
  }

  @include media-mobile {
    margin-left: auto;
    margin-right: auto;

    width: 188px;
  }
}

.book-page__image {
  position: relative;

  margin-bottom: 17px;

  width: 445px;
  height: auto;

  aspect-ratio: 443 / 591;

  background: $color-book-page-background;
  border: 1px solid $color-book-page-border;
  border-radius: 10px;

  overflow: hidden;

  @include media-laptop {
    width: calc(136px + (445 - 136) * ((100vw - 768px) / (1440 - 768)));
  }

  @include media-tablet {
    width: 136px;
    aspect-ratio: 136 / 198;
    border-radius: 3px;
  }

  @include media-mobile {
    width: 188px;
    aspect-ratio: 188 / 260;
    border-radius: 10px;
  }
}

.image__book-page {
  position: absolute;

  top: 50%;
  left: 50%;

  height: 100%; // стоял после здачи второго спринта height:auto

  transform: translate(-50%, -50%);
  aspect-ratio: 445 / 595;

  @include media-tablet {
    aspect-ratio: 136 / 198;
  }
}

.image__pagination {
  width: 445px;
  height: 86px;

  @include media-laptop {
    width: calc(136px + (445 - 136) * ((100vw - 768px) / (1440 - 768)));
  }

  @include media-tablet {
    display: none;
  }
}

.book-page__content {
  grid-area: title;
}

.book-page__title {
  margin-bottom: 24px;

  @include media-tablet {
    margin-bottom: 32px;
  }

  @include media-mobile {
    margin-bottom: 8px;
  }
}

.book-page .title--xxl {
  @include media-tablet {
    @include font($size: 1.5rem, $height: 125%, $weight: 700, $letter: 0.1px);
  }

  @include media-mobile {
    @include font($size: 1.125rem, $height: 156%, $weight: 700, $letter: 0.1px);
  }
}

.book-page .title--xl {
  @include media-tablet {
    @include font($size: 1rem, $height: 150%, $weight: 600, $letter: 0.1px);
  }

  @include media-mobile {
    @include font($size: 1.125rem, $height: 156%, $weight: 700, $letter: 0.1px);
  }
}

.book-page__autor {
  margin-bottom: 32px;

  @include font($size: 1.125rem, $weight: 700, $height: 156%, $letter: 0.1px);
  color: $color-book-page-text;

  @include media-tablet {
    @include font($size: 0.875rem, $height: 129%, $weight: 600, $letter: 0.1px);
  }

  @include media-mobile {
    @include font($size: 0.75rem, $height: 150%, $weight: 400);
  }
}

.book-page__button {
  margin-bottom: 62px;

  max-width: 350px;
  height: 52px;

  @include media-tablet {
    margin-bottom: 48px;
    max-width: 306px;
  }

  @include media-mobile {
    margin-bottom: 42px;
    width: 100%;
    height: 40px;
  }
}

.button-review,
.button--book-page {
  border: 1px solid $color-button-book-border;
  border-radius: 30px;

  @include font($size: 1rem, $height: 150%, $weight: 600, $letter: 0.2px);
  text-transform: uppercase;

  @extend %linear-gradient-button-background;
  color: $color-button-book-text;

  @extend %transition;

  @include media-mobile {
    @include font($size: 0.75rem, $height: 150%, $weight: 400);
  }
}

.button-review:active,
.button--book-page:active {
  @extend %linear-gradient-button-background-active;
}

.book-page-descripton__wrap {
  margin-bottom: 42px;
  grid-area: description;

  @include media-tablet {
    margin-bottom: 52px;
  }

  @include media-mobile {
    margin-bottom: 42px;
  }
}

.book-page__title-description {
  @include media-mobile {
    margin-bottom: 0px;
  }
}

.book-page__description {
  @include font($size: 1rem, $height: 1.5, $weight: 400, $letter: 0.1px);

  @include media-mobile {
    @include font($size: 0.75rem, $height: 1.5, $weight: 400);
  }
}

.book-page__rating {
  margin-bottom: 62px;

  @include media-tablet {
    margin-bottom: 50px;
  }

  @include media-mobile {
    margin-bottom: 27px;
  }
}

.book-page__rating:has(.rating__no) {
  @include media-mobile {
    margin-bottom: 50px;
  }
}

.book-page__title-description::after,
.rating__title::after,
.info__title::after {
  content: '';
  display: block;

  margin-bottom: 16px;

  max-width: 350px;
  height: 16px;

  border-bottom: 1px solid $color-book-page-line;

  @include media-tablet {
    max-width: 305px;
  }

  @include media-mobile {
    margin-bottom: 8px;

    width: 100%;
    height: 8px;
  }
}

.book-page__title-description::after {
  content: '';

  @include media-mobile {
    max-width: 288px;
  }
}

.rating__title::after {
  @include media-tablet {
    margin-bottom: 14px;
  }
  @include media-mobile {
    max-width: 288px;
  }
}

.book-page .book__star {
  column-gap: 12px;

  @include media-mobile {
    height: 34px;
    flex-wrap: wrap;
    row-gap: 8px;
  }
}

.rating__value {
  margin-left: 16px;
  @include font($size: 1.125rem, $height: 1.56, $weight: 700, $letter: 0.1px);
}

.rating__no {
  @include font($size: 0.875rem, $height: 129%, $weight: 400, $letter: 0.1px);
  color: $color-no-rating-text-book;
  text-transform: lowercase;
}

.book-page .rating__no {
  margin-left: 12px;
  color: $color-no-rating-text-book-page;

  @include media-mobile {
    margin-left: 0px;
  }
}

.book-page__info {
  margin-bottom: 62px;

  @include media-tablet {
    margin-bottom: 52px;
  }

  @include media-mobile {
    margin-bottom: 26px;
  }
}

.info__title::after {
  @include media-mobile {
    max-width: 209px;
  }
}

.info-wrap {
  display: flex;
  column-gap: 146px;
  align-items: start;

  @include media-laptop {
    column-gap: calc(30px + (146 - 30) * ((100vw - 768px) / (1440 - 768)));
  }

  @include media-tablet {
    column-gap: 30px;
  }

  @include media-midle-tablet {
    flex-direction: column;
    row-gap: 16px;
  }

  @include media-mobile {
    align-items: unset;

    row-gap: 16px;
    column-gap: 0px;
  }
}

.info__publishing {
  max-width: 329px;
  width: 100%;
  display: grid;
  grid-template-columns: 58% 42%;
  row-gap: 16px;

  @include media-tablet {
    grid-template-columns: 39% 60%;
    column-gap: 20px;
  }

  @include media-mobile {
    column-gap: 0px;
    grid-template-columns: 45% 55%;
  }
}

.info__book {
  max-width: 635px;
  width: 100%;
  display: grid;

  grid-template-columns: 1fr 70%;

  row-gap: 16px;
  column-gap: 16px;

  @include media-tablet {
    grid-template-columns: 32% 44%;

    column-gap: 40px;
  }

  @include media-midle-tablet {
    max-width: 329px;
    grid-template-columns: 39% 60%;
    column-gap: 20px;
  }

  @include media-mobile {
    justify-content: unset;
    column-gap: 0px;
    grid-template-columns: 45% 55%;
  }
}

.info__book span:nth-child(2n + 1),
.info__publishing span:nth-child(2n + 1) {
  @include font($size: 1rem, $height: 1.5, $weight: 600, $letter: 0.1px);
  color: $color-book-page-text;

  @include media-tablet {
    @include font($size: 0.875rem, $height: 129%, $weight: 600, $letter: 0.1px);
  }

  @include media-mobile {
    @include font($size: 0.75rem, $height: 133%, $weight: 500, $letter: 0.2px);
  }
}

.info__book span:nth-child(2n),
.info__publishing span:nth-child(2n) {
  @include font($size: 1rem, $height: 1.5, $weight: 400, $letter: 0.1px);
  color: $color-book-page-table-text-even;

  @include media-tablet {
    @include font($size: 0.875rem, $height: 129%, $weight: 400, $letter: 0.1px);
  }

  @include media-mobile {
    @include font($size: 0.75rem, $height: 133%, $weight: 400, $letter: 0.2px);
  }
}

.review-content-wrapper {
  display: none;
}

.review-collapsible:has(.review__content) {
  display: block;
  margin-bottom: 35px;
}

.reviews-title-wrapper {
  display: inline-flex;
  align-items: center;
  margin-bottom: 16px;

  @include media-mobile {
    margin-bottom: 16px;
  }
}

.reviews__title.title--xl {
  margin-right: 6px;

  @include media-tablet {
    @include font($size: 1.125rem, $height: 156%, $weight: 700, $letter: 0.1px);
  }
}

.review__quantity {
  margin-right: 29px;

  @include font($size: 0.875rem, $height: 200%, $weight: 400, $letter: 0.1px);
  color: $color-book-page-text;
}

.book-page__reviews:has(.review-collapsible .review__content) .review-title-border {
  margin-bottom: 16px;

  width: 350px;
  height: 0px;

  border-bottom: 1px solid $color-book-page-line;

  @include media-tablet {
    width: 305px;
  }

  @include media-mobile {
    margin-bottom: 8px;

    max-width: 288px;
    width: 100%;
    height: 0px;
  }
}

.review__button-collapsible {
  width: 24px;
  height: 24px;
}

.book-page__reviews {
  margin-bottom: 42px;

  @include media-tablet {
    margin-bottom: 48px;
  }

  @include media-mobile {
    margin-bottom: 20px;
  }
}

.review__stars {
  .book__star {
    @include media-mobile {
      column-gap: 8px;
    }
  }
}

.review__button {
  max-width: 350px;
  height: 52px;

  @include media-tablet {
    max-width: 100%;
  }

  @include media-mobile {
    height: 40px;
  }
}
