@forward '../../../../style/style.scss';
@use '../../../../style/abstract/constants' as constants;
@use '../../../../style/abstract/mixin' as mixin;

.modal-calendar__wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  @extend %background-blure;

  z-index: 5;
}

.modal-calendar {
  position: relative;
  padding: 48px 56px;

  max-width: 33rem;
  width: 100%;

  border-radius: 16px;
  background-color: constants.$color-modal-calendar-background;
}

.modal-calendar__title {
  margin-bottom: 32px;
  display: flex;
  justify-content: center;
}

.title {
  width: 16rem;
  text-align: center;
  color: constants.$color-modal-calendar-title;
  @include mixin.font($size: 1.5rem, $height: 125%, $weight: 700, $letter: 0.1px);
}

.button-close {
  position: absolute;
  top: 32px;
  right: 32px;
  width: 48px;
  height: 48px;
  border-radius: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: constants.$color-modal-calendar-button-close-background;
}

.button-close:hover {
  filter: constants.$color-button-filter-hover;
}

.button-close:active {
  @extend %linear-gradient-button-background;
  filter: constants.$color-button-filter-active;
}

.madal-calendar__calendar {
  margin-bottom: 32px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.comments-textarea {
  margin-bottom: 52px;
  width: 100%;
  height: 8.25rem;
  border-color: transparent;
  border-radius: 4px;
  resize: none;
  background-color: constants.$color-modal-comments-textarea-backgrond;
}

.modal-calendar__button {
  width: 100%;
  height: 3.25rem;
  cursor: pointer;
}

.button-booking {
  border-radius: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  text-transform: uppercase;
  color: constants.$color-button-book-text;

  @extend %linear-gradient-button-background;

  @include mixin.font($size: 1rem, $height: 150%, $weight: 600, $letter: 0.2px);
  @include mixin.media-mobile {
    font-size: 0.75rem;
  }
}

.button-booking:disabled {
  background: constants.$color-modal-calendar-button-disabled-background;
  color: constants.$color-madal-calendar-button-text-disabled;
}

.button-delete-booking {
  border-radius: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  text-transform: uppercase;

  border: 1px solid constants.$color-button-border-booking-delete;
  background: constants.$color-button-book-background;
  color: constants.$color-button-text-booking-current !important;

  @include mixin.font($size: 1rem, $height: 150%, $weight: 600, $letter: 0.2px);
  @include mixin.media-mobile {
    font-size: 0.75rem;
  }
}

.modal-calendar__button + .modal-calendar__button {
  margin-top: 1rem;
}
