@use '../../../style/abstract/constants' as constants;
@use '../../../style/abstract/mixin' as mixin;

.error-wrapper {
  position: absolute;
  padding: 1rem;
  top: 64px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;

  max-width: 71.375rem;
  width: 100%;
}
.error {
  padding: 28px 37px 28px 37px;
  max-width: 69.375rem;
  width: 100%;

  border: 1.5px solid constants.$color-error;
  border-radius: 5px;

  display: flex;
  align-items: center;
  column-gap: 28px;

  background: constants.$color-error-background;

  @include mixin.media-tablet {
    padding: 28px 19px 28px 19px;
    max-width: 640px;
    column-gap: 13px;
  }

  @include mixin.media-mobile {
    top: 56px;
    padding: 12px 16px 12px 16px;
    max-width: 280px;
    align-items: flex-start;
  }
}

.success {
  border: 1.5px solid constants.$color-success-border;
  background: constants.$color-success-background;
}

.error-icon {
  width: 32px;
  height: 32px;
  background-size: 32px;

  background: url('../../image/ico/warning_circle.svg');

  @include mixin.media-tablet {
    width: 24px;
    height: 24px;
    background-size: 24px;
  }

  @include mixin.media-mobile {
    width: 18px;
    height: 18px;
    background-size: 18px;
  }
}

.success-icon {
  width: 32px;
  height: 32px;
  background-size: 32px;
  background: url('../../image/ico/icon-check-success.svg');

  @include mixin.media-tablet {
    width: 24px;
    height: 24px;
    background-size: 24px;
  }

  @include mixin.media-mobile {
    width: 18px;
    height: 18px;
    background-size: 18px;
  }
}

.error-message {
  flex: 1;
  @include mixin.font($size: 1rem, $height: 150%, $weight: 600, $letter: 0.1px);

  @include mixin.media-tablet {
    @include mixin.font($size: 0.875rem, $height: 129%, $weight: 600, $letter: 0.1px);
  }
}

.button-error__icon {
  display: block;
  width: 24px;
  height: 24px;
  background-size: 24px;
  background: url('../../image/ico/Icon_button_error_close.svg');
  cursor: pointer;

  @include mixin.media-tablet {
    width: 16px;
    height: 16px;
    background-size: 16px;
  }
}
