.mySwiper {
  width: 100%;
  height: 100%;
}

.mySwiperPagination {
  width: 100%;
  height: 100%;
}

.swiper-slide-visible {
  border-radius: 3px;
  border: 1px solid $color-slider-thumbs-border;
}

.swiper-slide-thumb-active {
  border-radius: 3px !important;
  border: 1px solid $color-slider-thumbs-border-active !important;
}

.image__pagination {
  position: relative;
  margin-bottom: 8px;
}

.image__pagination::before {
  content: '';
  position: absolute;
  display: block;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  z-index: 3;
  pointer-events: none;
  @extend %linear-gradient-thumbs-background;
}

.my-swiper-pagination-wrapper {
  position: relative;

  overflow: hidden !important;
  width: 136px;
}

.mySwiper__pagination {
  display: none;

  @include media-tablet {
    position: relative !important;
    display: flex !important;

    .swiper-pagination-bullet-active-next,
    .swiper-pagination-bullet-active-next-next,
    .swiper-pagination-bullet-active-prev,
    .swiper-pagination-bullet-active-prev-prev {
      transform: scale(1) !important;
    }

    justify-content: center;
    align-items: center;

    height: 24px;

    .swiper-pagination-bullet {
      left: 30px !important;
      width: 7px;
      height: 7px;
      transform: scale(1) !important;
    }

    .swiper-pagination-bullet-active {
      background: $color-slider-pagination-bullet-active;

      transform: scale(1.2) !important;
    }
  }

  @include media-mobile {
    margin-bottom: 16px;
  }
}

.scrollbar {
  height: 6px;
  @include media-tablet {
    display: none;
  }
}

.scrollbar-element {
  width: 190px;
  height: 6px;
}

.swiper-pagination-bullet-active {
  background: $color-slider-pagination-bullet-active;

  transform: scale(1.2) !important;
}
