.footer {
}
.footer__wrapper {
}
.wrapper {
}
.layout-2-column {
}
.footer-wrapper {
  padding-top: 16px;
  padding-bottom: 16px;
  border-top: 1px solid $color-border-footer;
  @include media-mobile {
    flex-wrap: wrap;
    row-gap: 18px;
    // align-items: center;
    text-align: center;
    justify-content: center;
  }
}
.footer__copyright {
  @include font($size: 1rem, $height: 1.5, $weight: 400, $letter: 0.1px);
  @include media-mobile {
    @include font($size: 0.9375rem, $height: 133%, $weight: 400, $letter: 0.1px);
    width: 200px;
  }
}
.footer__address {
}
.social__list {
  display: inline-flex;
  align-items: center;
  column-gap: 28px;
}
.social__item {
  display: flex;
  align-items: center;
}
.social__link {
}
