.title--xxl {
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 0.1px;
}

@media (max-width: 320px) {
  .title--xxl {
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 156%;
    letter-spacing: 0.1px;
  }
}

.title--lg {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.2857;
  letter-spacing: 0.1px;
}
@media (max-width: 768px) {
  .title--lg {
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.1px;
  }
}
